<style>
  .sc {
    padding: 20px;
    background: #EFF6FD;
  }
  </style>

<div class="sc">

  <div class="row gy-5">
    <div class="col-12">
      <h2><%= @category.name %></h2>
      <div class="p-3 border bg-light"> - <%= @category.description %> - </div>
    </div>
  </div>

<p></p>

<ul>
   <%= link_to "Editar Categoría", edit_category_path(@category) %>
   <p></p>
   <%= button_to "Eliminar Categoría", category_path(@category), method: :delete, data: { confirm: "¿Estás seguro?" } %>
</ul>
</div>
